[submodule "dragonball"]
	path = dragonball
	url = https://github.com/yojhanHuanca/dragonball
[submodule "dragonball-frontend"]
	path = dragonball-frontend
	url = https://github.com/Ingaxgaramendi/dragonball.git
[submodule "DragonBall"]
	path = DragonBall
	url = https://github.com/Gonnarch/DragonBall.git
[submodule "modulo-dragonball"]
	path = modulo-dragonball
	url = https://github.com/Gonnarch/DragonBall.git
